@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --font-family: "Fraunces ", sans-serif;
  --second-family: "Barlow", sans-serif;
  --third-family: "Fraunces", sans-serif;
}

body {
  overflow-x: hidden;
  font-family: "Barlow", sans-serif;
  margin: 0;
}

.container {
  max-width: 1334px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.header {
  padding: 40px 0;
}

.header_mb_btn {
  background-color: transparent;
  background-image: url(../img/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  border: none;
}

.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_list {
  display: none;
  gap: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_link {
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #83888f;
}
.header_link:hover {
  color: #333d4b;
}

.header_logo_tag {
  display: inline-block;
  width: 163px;
}

@media screen and (min-width: 768px) {
  .header_mb_btn {
    display: none;
  }
  .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_logo_tag {
    display: inline-block;
    width: 236px;
  }
  .tablet {
    padding: 0 40px;
  }
}
.hero {
  padding-bottom: 120px;
}

.hero_block {
  padding: 100px 24px;
  background-image: url(../img/hero_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
}

.hero_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 38px;
  line-height: 100%;
  color: #fefcf7;
  margin-bottom: 24px;
}

.hero_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #CDCBC7;
  margin-bottom: 40px;
}

.hero_btn {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: #fefcf7;
  background-color: #0e8784;
  border-radius: 6px;
  border: none;
  padding: 16px 31px;
}

@media screen and (min-width: 768px) {
  .hero_block {
    padding: 104px 58px;
    text-align: start;
    background-image: url("../img/hero_tablet.jpg");
  }
  .hero_title {
    font-size: 45px;
    line-height: 100%;
    width: 329px;
  }
  .hero_text {
    font-size: 15px;
    line-height: 167%;
    width: 398px;
  }
  .tablet {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1100px) {
  .hero_block {
    padding: 117px 85px;
    background-image: url("../../img/hero_desktop.jpg");
  }
  .hero_title {
    font-size: 67px;
    width: 493px;
    margin-bottom: 32px;
  }
  .hero_text {
    font-size: 17px;
    margin-bottom: 56px;
    width: 445px;
  }
}
.our_collection {
  padding: 132px 0;
  position: relative;
}

.our_collection::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../../img/our_collection_bg.svg);
  width: 375px;
  height: 72px;
  left: 50%;
  top: 120px;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  width: 375px;
}

.our_collection_img_block {
  margin-bottom: 24px;
}

.our_collection_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 133%;
  color: #333d4b;
  margin-bottom: 16px;
}

.out_collection_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 167%;
  color: #333d4b;
}

.our_collection_item {
  text-align: center;
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .our_collection_title {
    margin-bottom: 24px;
  }
  .our_collection_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: start;
    gap: 35px;
  }
  .out_collection_text {
    width: 343px;
  }
  .our_collection::before {
    background-image: url(../img/our_collection_tablet.svg);
    width: 689px;
    height: 118px;
    top: 110px;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }
  .tablet {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1100px) {
  .our_collection_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .our_collection_item {
    display: block;
    text-align: center;
  }
  .out_collection_text {
    width: 307px;
    margin-left: auto;
    margin-right: auto;
  }
  .our_collection::before {
    background-image: url(../img/our_collection_desktop.svg);
    width: 1111px;
    height: 196px;
  }
}
.choose__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fefcf7;
}

.choose {
  padding-top: 120px;
  padding-bottom: 120px;
}

.choose__title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 28px;
  line-height: 100%;
  margin-bottom: 30px;
  text-align: center;
  color: #fefcf7;
}

.choose__block {
  background-color: #2c343e;
  padding: 67px 24px;
  border-radius: 10px;
  position: relative;
}
.choose__block::after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 10px;
  right: 0;
  height: 600px;
  background-color: #2c343e;
  z-index: -1;
}

.choose__list {
  padding: 0 24px;
}

.choose__item {
  background-color: #0e8784;
  border-radius: 8px;
  padding: 72px 34px 51px 34px;
  margin-bottom: 25px;
  text-align: center;
}
.choose__item::before {
  content: "";
  width: 72px;
  height: 72px;
  margin-bottom: 56px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/about.svg");
}

.choose__sub_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 133%;
  margin-bottom: 24px;
  color: #fefcf7;
}

.choose__des {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #fefcf7;
}

@media screen and (min-width: 768px) {
  .choose__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    padding: 41px 48px 41px 70px;
    gap: 55px;
  }
  .choose__item::before {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 0;
  }
  .choose__list {
    padding: 0 58px;
  }
  .choose__block::after {
    height: 372px;
  }
  .tablet {
    padding: 0 40px;
  }
}
@media screen and (min-width: 1100px) {
  .choose__list {
    display: grid;
    padding: 0 85px;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  .choose__text {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .choose__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 72px 48px 48px 48px;
  }
  .choose__block::after {
    height: 284px;
  }
}
.support {
  padding-bottom: 120px;
}

.support_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #83888f;
  margin-bottom: 40px;
}

.support_list {
  margin-bottom: 79px;
}

.support_item {
  text-align: center;
  margin-bottom: 56px;
}

.box {
  width: 497px;
  height: 2px;
  background-color: #fdd6ba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 48px;
}

.item {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #0e8784;
}

.item3 {
  position: absolute;
  right: 0;
}

.item1 {
  position: absolute;
  left: 0;
  -webkit-animation-name: box_item;
          animation-name: box_item;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.support_item::before {
  content: "";
  background-image: url(../img/support_num1.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 90px;
  height: 72px;
  display: inline-block;
}

.support_sub_title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 28px;
  line-height: 114%;
  color: #333d4b;
  margin-top: 24px;
  margin-bottom: 24px;
}

.c {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #333d4b;
}

.support_btn {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 17px;
  line-height: 139%;
  text-align: center;
  color: #fefcf7;
  background: #0e8784;
  border-radius: 6px;
  display: block;
  width: 217px;
  padding: 16px 31px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
}

.wewr {
  display: none;
}

@media screen and (min-width: 768px) {
  .support_title {
    text-align: start;
  }
  .support_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .support_item {
    text-align: start;
  }
  .wewr {
    display: block;
  }
  .support_btn {
    display: inline-block;
  }
  .support_sub_title {
    font-size: 28px;
    line-height: 114%;
    margin-bottom: 38px;
    margin-top: 42px;
  }
  .support_sub_text {
    font-size: 17px;
    line-height: 167%;
  }
}
@media screen and (min-width: 1100px) {
  .box {
    width: 760px;
    margin-bottom: 82px;
  }
  .support_sub_title {
    margin-top: 38px;
    margin-bottom: 42 [x];
  }
  .support_list {
    gap: 95px;
  }
  .support_sub_title {
    font-size: 33px;
    line-height: 112%;
  }
  .support_sub_text {
    font-size: 16px;
    line-height: 162%;
  }
}
.footer {
  padding-bottom: 84px;
}

.footer_block {
  background-color: #2c343e;
  padding: 54px;
}

.footer_img_block {
  margin-bottom: 48px;
}

.footer_item {
  text-align: center;
  margin-bottom: 24px;
}

.footer_list {
  margin-bottom: 48px;
}

.footer_link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #83888f;
}

.footer_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer_img_block {
    text-align: center;
  }
  .tablet {
    padding: 0 40px;
  }
  .footer_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
    margin-bottom: 65px;
  }
  .footer_item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1100px) {
  .footer_des_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_img_block {
    margin-bottom: 0;
  }
  .footer_list {
    margin-bottom: 0;
  }
  .footer_item {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */