.about_block {
    border-radius: 10px;
    background: #2c343e;
    padding: 69px 24px;
    position: relative;
    height: 902px;
}

.about_title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    color: #fefcf7;
    margin-bottom: 32px;
}

.about_text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: #fefcf7;
    // display: none;
    margin-bottom: 70px;
}
.about_item{
    padding: 72px 12px 51px 12px;
    text-align: center;
    background: #0e8784;
    border-radius: 8px;
 
}
.about_list{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.about_img {
    margin-bottom: 56px;
    
}

.about_sub_title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 24px;
    line-height: 133%;
    color: #fefcf7;
}

.about_sub_text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 167%;
    color: #fefcf7;
}
.about_inner_block{
    text-align: center;
}
.about_item{
    margin-bottom: 24px;
    width: 280px;
}

@media screen and (min-width:768px) {
    .about_text{
        font-size: 20px;
    }
    .about_sub_title{
font-size: 32px;
line-height: 150%;
    }
    .about_item{
        display: flex;
        width: 573px;
        gap: 55px;
        align-items: center;
    }
    .about_inner_block{
        text-align: start;
    }
    .about_img{
        margin-bottom: 0;
    }
    .about_block{
        height: 667px;
    }
}

@media screen and (min-width:1280px) {
.about_title{
font-size: 40px;
line-height: 120%;
margin-bottom: 32px;
}
.about_text{
    width: 540px;
    font-size: 16px;
line-height: 162%;
margin-left: auto;
margin-right: auto;
}
.about_block{
    height: 577px;
    margin-left: auto;
    margin-right: auto;
}
.about_item{
    width: 350px;
    display: block;
    text-align: center;
}
.about_img{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.about_inner_block{
    text-align: center;
}
.about_sub_title{
    margin-bottom: 24px;
}
.about_sub_text{
    font-size: 20px;
    line-height: 162%;
}
.about_inner_block{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 255px;
}
.about_list{
    width: 1110px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;
    top: 60%;
}
}